.joinButton {
  .join {
    width: 360px;
    height: 80px;
    background: #ffffff;
    border-radius: 6px;
    color: #6e8ef1;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
}
