.viewAll {
  margin-top: 50px;

  div {
    position: relative;
    border-radius: 6px;
    width: 260px;
    height: 60px;

    @media (max-width: 900px) {
      margin: 0 auto;
    }

    &.bgWhite {
      background-color: #fff;
    }

    &.bgGray {
      background-color: #edf2fe;
    }

    &:after {
      content: "";
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background: linear-gradient(
        261deg,
        #7c3ecf 6.07%,
        #5a85ec 56.1%,
        #fb47b6 95.86%
      );
      z-index: -1;
      border-radius: 6px;
    }
  }

  a {
    text-decoration: none;
  }
  button {
    position: relative;
    width: 260px;
    height: 60px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    background: linear-gradient(
      91deg,
      #7c3ecf 6.07%,
      #5a85ec 56.1%,
      #fb47b6 95.86%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media (max-width: 600px) {
      font-size: 14px;
    }
  }
}
