.startupSection {
  padding: 80px 0;
  text-align: center;

  .heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 68px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;

    @media (max-width: 600px) {
      font-size: 32px;
    }
  }
  .description {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;

    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
}
